body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

#topbanner {
    background-color: rgb(134, 134, 134);
}

#toptext {
    text-align: center;
    color: black;
}
#marshall-info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
}
#background {
    color: gray;
    text-align: center;
    align-items: center;
}
#text {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button {
    border-radius: 30px;
}